/* Load Font Bebas Nueve from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

gh1, h2, h3 {
  margin-bottom: 0 !important;
}

h1 {
  font-size: 3.5rem !important;
}

h2 {
  font-size: 2.5rem !important;
}

h3 {
  font-size: 2rem !important;
}

body, html {
  height: 100%;
  color: black; 
  scroll-behavior: smooth;
}

.main-font {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

.secondary-font {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
}

strong {
  color: darkred;
}

.square:before {
  content: "";
  display: block;
  padding-top: 100%;
}


/* sm */
@media (min-width: 576px) {
  .card-columns {
      -webkit-column-count: 1 !important;
      -moz-column-count: 1 !important;
      column-count: 1 !important;
  }
}

/* md */
@media (min-width: 768px) {
  .card-columns {
      -webkit-column-count: 2 !important;
      -moz-column-count: 2 !important;
      column-count: 2 !important;
  }
}

/* xl */
@media (min-width: 1200px) {
  .card-columns {
      -webkit-column-count: 3 !important;
      -moz-column-count: 3 !important;
      column-count: 3 !important;
  }
}